    * {
        padding: 0;
        margin: 0;
    }
    
    .slide {
        margin-top: 10px;
    }
    
    .slide img {
        width: 100%;
        height: 80vh;
    }
    
    #galeria img {
        width: 100%;
        height: 250px;
        border-radius: 10px;
    }
    
    #galeria .col-lg-4 {
        padding: 25px;
    }
    
    #galeria img:hover {
        border: 5px solid rgb(240, 233, 233);
        height: 100%;
        cursor: pointer;
    }
    /* PRODUCTOS.HTML */
    
    body {
        background: imagenes/fondo.jpg;
        rel="icon" type="IconoSup.ico;
        font-family: 'Dancing Script', cursive;
    }
    
    .wrap {
        max-width: 1100px;
        width: 90%;
        margin: auto;
    }
    
    .wrap>h1 {
        color: #494B4D;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 15px 0px;
        padding-top: 60px;
    }
    
    .wrap>h1:after {
        content: '';
        width: 100%;
        height: 1px;
        background: #C7C7C7;
        margin: 20px 0;
    }
    
    .store-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    
    .category_list {
        display: flex;
        flex-direction: column;
        width: 18%;
    }
    
    .category_list .category_item {
        display: block;
        width: 90%;
        padding: 15px 0;
        margin-bottom: 20px;
        background: #943126;
        text-align: center;
        text-decoration: none;
        color: #FAE5D3;
    }
    
    .category_list .ct_item-active {
        background: #FADBD8;
        color: #943126;
    }
    /* PRODUCTOS ============*/
    
    .products-list {
        width: 82%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .products-list .product-item {
        width: 22%;
        margin-left: 3%;
        margin-bottom: 25px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-start;
        transition: all .4s;
    }
    
    .products-list .product-item img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    
    .products-list .product-item a {
        display: block;
        width: 100%;
        padding: 8px 0;
        background: #FADBD8;
        color: #943126;
        text-align: center;
        text-decoration: none;
    }


    /* RESPONSIVE */
    
    @media screen and (max-width: 1100px) {
        .products-list .product-item {
            width: 30.3%;
        }
    }
    
    @media screen and (max-width: 900px) {
        .category_list,
        .products-list {
            width: 100%;
        }
        .category_list {
            flex-direction: row;
            justify-content: space-between;
        }
        .category_list .category_item {
            align-self: flex-start;
            width: 15%;
            font-size: 14px;
        }
        .products-list .product-item {
            margin-left: 4.5%;
        }
        .products-list .product-item:nth-child(3n+1) {
            margin-left: 0px;
        }
    }
    
    @media screen and (max-width: 700px) {
        .category_list {
            flex-direction: column;
        }
        .category_list .category_item {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    
    @media screen and (max-width: 600px) {
        .products-list .product-item {
            width: 47.5%;
        }
        .products-list .product-item:nth-child(3n+1) {
            margin-left: 4.5%;
        }
        .products-list .product-item:nth-child(2n+1) {
            margin-left: 0px;
        }
    }
    
    @media screen and (max-width: 350px) {
        .products-list .product_item {
            width: 100%;
            margin-left: 0px;
        }
    }